[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "ros2_ws/src/open_vins"]
	path = ros2_ws/src/open_vins
	url = https://github.com/rpng/open_vins.git
